
/js/client/lib/socket.io-client
/NiUserTracker/Debug
/NiUserTracker/NiUserTracker_2010.sdf
/NiUserTracker/NiUserTracker_2010.suo
/NiUserTracker/NiUserTracker_2010.vcxproj.user
/NiUserTracker/ipch
/.htaccess
/.project
